<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Go back" icon="pi pi-arrow-left" class="p-button-danger"
            routerLink="/dashboard"></button>
    </ng-template>
</p-toolbar>

<div *ngIf="hero else notFound" class="p-mt-4 card">
    <h1>Hero</h1>
    <h2 *ngIf="hero && hero.name">{{hero.name | uppercase}} Details</h2>
    <form (ngSubmit)="validate(heroForm)" #heroForm="ngForm">
        <div class="p-fluid ">
            <div class="p-field">
                <label for="heroId">ID</label>
                <input id="heroId" name="id" type="number" [(ngModel)]="hero.id" pInputText disabled
                    placeholder="Self-generated">
            </div>
            <div class="p-field form-group">
                <label for="heroName">Name</label>
                <input id="heroName" required name="name" [(ngModel)]="hero.name" class="form-control" type="text"
                    pInputText #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="p-error">
                    Name is required
                </div>
            </div>
            <div class="p-field form-group">
                <label for="heroPower">Power</label>
                <input id="heroPower" required name="power" [(ngModel)]="hero.power" class="form-control" type="text"
                    pInputText #power="ngModel">
                <div [hidden]="power.valid || power.pristine" class="p-error">
                    Power is required
                </div>
            </div>
        </div>

        <button [disabled]="!heroForm.form.valid" pButton pRipple label="Save" icon="pi pi-save" class="p-button-success p-d-block p-mx-auto"></button>
    </form>
</div>

<ng-template #notFound>
    <h1>Hero no found.</h1>
</ng-template>